
.depicter-revert .depicter-3-element-13{
	transform:scaleX(-1);
}
.depicter-revert .depicter-3-element-17{
	font-size:22px;
	text-align:center;
	color:#000000;
	font-family:"Roboto";
	font-weight:500;
	background-color:#FFCF0E;
	border-radius:6px;
}
.depicter-revert .depicter-3-element-17:not(.depicter-hover-off):hover {
	color:#FFCF0E;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-15{
	font-size:22px;
	text-align:center;
	color:#000000;
	font-family:"Roboto";
	font-weight:500;
	background-color:#FFCF0E;
	border-radius:6px;
}
.depicter-revert .depicter-3-element-15:not(.depicter-hover-off):hover {
	color:#FFCF0E;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-12{
	font-size:22px;
	text-align:center;
	color:#000000;
	font-family:"Roboto";
	font-weight:500;
	background-color:#FFCF0E;
	border-radius:6px;
}
.depicter-revert .depicter-3-element-12:not(.depicter-hover-off):hover {
	color:#FFCF0E;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-16{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Lato";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-14{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Lato";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-22{
	font-size:144px;
	color:#000000;
	font-family:"Lato";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-11{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Lato";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-3{
	background-color:#04417A;
}
.depicter-revert .depicter-3-element-10{
	font-size:22px;
	text-align:center;
	color:#000000;
	font-family:"Roboto";
	font-weight:500;
	background-color:#FFCF0E;
	border-radius:6px;
}
.depicter-revert .depicter-3-element-10:not(.depicter-hover-off):hover {
	color:#FFCF0E;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-8{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Lato";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-2{
	background-color:#003056;
}
.depicter-revert .depicter-3-element-4{
	background-color:#00A1D9;
}
.depicter-revert .depicter-3-element-5{
	background-color:#46D9BF;
}
.depicter-revert .depicter-3-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}

